.Blogs{
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .heading{
        text-align: center;
        font-weight: bolder;
        font-size: 4.5rem;
    }

    .content{
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 4% 5%;

        h2{
            font-size: 2.3rem;
            font-weight: bolder;
        }
        p{
            font-size: 1.8rem;
            padding: 2%;
        }
    }

    .blog {
        width: 30%;
        img{
            width: 90%;
            padding-bottom: 7%;
        }  
    }
}

