
  .nav_dark {
    background-color: #2D1F6A;
  }

.navDiv{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  transition-timing-function: ease-in;
  transition: all 0.5s;


  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; 
    padding-top: 30px;
    z-index: 100;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0.3rem;
  
    .secondNav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;
      
      .navElement{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 6px 0;
      }

      .navElement:after{
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        background: #fff;
        transition: width 0.3s ease-out;
        width: 0;
      }

      .navElement:hover:after{
        width: 100%; 
      }

      .navEvents{
        border: 2px solid white;
        padding: 10px;
        border-radius: 30px;
      }      

      .activeLink{
        font-weight: 800;        
      }
    }
  }
}