.ourEvents{

  color: white;
  text-align: center;
  // font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 350;
  font-size: 4.2rem;
  font-style: capitalize;
  justify-content: space-between;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  
  button{
      border: none;
      color:white;
      margin: 2em 0.5em;
      width: 166px;
      height: 52px;
      font-weight: bold;
      font-size: 27px;
      line-height: 124%;
      background: rgba(255, 255, 255, 0.1);       

      border-radius: 20px;
  }  

  button:hover{
      background: #00F0FF99;
  }

}