

.profile{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    gap: .5rem;

    .profile__name{
        font-size: 1.5rem;
    }

    .profile__title{
        font-size: .95rem;
    }

    .profile__background{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
        width: 15rem;
        background-color: gray;
        border-radius: 15%;

        img{
             
            width: 14rem;
            height: 14rem;
        }
    }
    .profile__name{
        font-weight: bold;
    }
    .profile__tooltip{
        position:absolute;
        visibility: hidden;
        background-color: red;
        height: fit-content;
        width: 10rem;
        margin-left: 28rem;
        padding: 1.5rem;
        border-radius: 2rem;
    }
}
.profile:hover{
    .profile__tooltip{
        visibility: visible;
    }
}