
.home{
  position: relative;
  color: white;

  .homeNav{
    position: fixed;
    top: 0;
    width: 100%;    
    z-index: 100;
  }

  .flexDiv{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    // padding-left: 2rem;
    // padding-right: 2rem;
  }
}