.blog{
    text-align: center;
     
    img{
        max-width: 100%;
        height: auto;
    }

    .blogContent{
        margin-top: 15px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        .contentTitle{
            font-size: 2rem;
        }

        .content{
            margin: auto 1.5rem;
        }
    }
}