@mixin normalLink($color){
    text-decoration: none;
    color: $color;
};
@mixin imgFluid {
    max-width: 100%;
    height: auto;
}
@mixin font {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sponsorBase{
    color: white;
    // border: 2px solid yellow;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;

    .sponsorImg{
        display: block;
        margin: auto;
        width: 20rem;
        height: auto;
    }

    .sponsorName{
        @include font;
        text-align: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        // border: 2px solid orange;

        .sponsorLink{
            @include normalLink(white);
        }
    }
}