
.ourSponsors {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;            
    font-size: 4.5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: rgb(82,195,255);
    background: linear-gradient(180deg, rgba(82,195,255,1) 0%, rgba(156,4,255,1) 66%);
    -webkit-background-clip: text;            
    -webkit-text-fill-color: transparent;
    margin-top: 0.55em;
    margin-bottom: 0.75em;
}

.sponsorContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5em 5em;
    justify-content: space-around;
}
